@model ListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card-box pb-10">
    <div class="h5 pd-20 mb-0 ml-1">Recent Patient</div>
    <p class="ml-4">All bootstrap element classies</p>
    <div class="m-2 row">
        <div class="col-8">
            <a asp-area="Admin" asp-controller="Companies" asp-action="Create" class="btn btn-outline-info">Create New</a>
        </div>
        <div class="header-search float-lg-right col-4">
            <form asp-action="Index">
                <div class="form-group mb-0 ">
                    <input type="text" class="form-control search-input" name="keySearch" placeholder="Search Here">
                </div>
            </form>
        </div>
    </div>
    <table class="data-table table nowrap">
        <thead>
            <tr>
                <th class="table-plus">Name</th>
                <th>Address</th>
                <th>Url</th>
                <th class="datatable-nosort">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Company)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="Companies" asp-action="Details" asp-route-id="@item.ID" data-color="#17a2b8" class="font-20" title="Details"><i class="icon-copy ti-eye"></i></a>
                        <a asp-area="Admin" asp-controller="Companies" asp-action="Edit" asp-route-id="@item.ID" data-color="#265ed7" class="mr-2 ml-2 font-20" title="Edit"><i class="icon-copy dw dw-edit2"></i></a>
                        <a asp-area="Admin" asp-controller="Companies" asp-action="Delete" asp-route-id="@item.ID" data-color="#e95959" class="font-20" title="Delete"><i class="icon-copy dw dw-delete-3"></i></a>
                    </td>
                </tr>
            }

        </tbody>

    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <div page-model="@Model.PagingModel" page-action="Index"
                 page-class="btn page-item " page-class-normal="btn-outline-dark"
                 page-classes-enabled="true" page-class-selected="btn-info"
                 class="font-weight-bold float-lg-right  m-4">

            </div>
        </ul>
    </nav>
</div>