@model PolicyOnEmployee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="invoice-wrap">
    <div class="page-header">
        <h4 class="text-center mb-30 weight-600">Delete</h4>
        <p>Are you sure you want to delete this?</p>

        <div class="row pb-30">
            <div class="col-md-6">
                <h5 class="mb-15">Name Employee: <span class="font-weight-bold"> @Html.DisplayFor(model => model.User.Username)</span></h5>
                <h5 class="mb-15">Name Policy: <span class="font-weight-bold"> @Html.DisplayFor(model => model.Policy.Name)</span></h5>
                <h5 class="mb-15">Policy Amount: <span class="font-weight-bold"> @Html.DisplayFor(model => model.Policy.Amount)</span></h5>
            </div>

        </div>
        <div class="invoice-desc pb-30">
            <div class="invoice-desc-head clearfix">
                <div class="invoice-sub">Strat Date</div>
                <div class="invoice-rate">End Date</div>
                <div class="invoice-hours">Status</div>
            </div>
            <div class="invoice-desc-body">
                <ul>
                    <li class="clearfix">
                        <div class="invoice-sub">@Html.DisplayFor(model => model.StartDate)</div>
                        <div class="invoice-rate">
                            @Html.DisplayFor(model => model.EndDate)
                        </div>
                        <div class="invoice-hours">
                            @Html.DisplayFor(model => model.Status)
                        </div>
                    </li>
                </ul>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </form>
            </div>

        </div>
    </div>
</div>
