
@{
    ViewData["Title"] = "PolicyOfCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RequetModel

<div class="card-box pb-10">

    <div class="m-2 row">
        <div class="col-8">
            <div class="h5 pd-20 mb-0 ml-1">Name Company: @Model.Company.Name</div>
            <p class="ml-4">Policy List</p>
        </div>
        <div class="header-search float-lg-right col-4">
            <form asp-action="PolicyOfCompany" method="get">
                <div class="form-group mb-0 ">
                    <input type="text" class="form-control search-input mt-5" name="keySearch" value="@Model.Key" placeholder="Search Here">
                </div>
            </form>
        </div>
    </div>
    <table class="data-table table nowrap">
        <thead>
            <tr>
                <th class="table-plus">Company</th>
                <th>Policy</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Emi</th>
                <th class="datatable-nosort">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Policies)
            {
                <tr>
                    <td class="table-plus">
                        @Model.Company.Name
                    </td>
                    <td>@p.Name</td>
                    <td>@p.Description</td>
                    <td>@p.Amount</td>
                    <td>@p.Emi</td>
                    <td>
                        <div class="table-actions">
                            <a asp-controller="Home" asp-action="Pay" asp-route-id="@p.ID" class="btn btn-info text-white">PAY</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<nav aria-label="Page navigation example">
    <div page-model="@Model.PagingModel" page-action="PolicyOfCompany"
         page-class="btn page-item " page-class-normal="btn-outline-dark"
         page-classes-enabled="true" page-class-selected="  btn-info"
         class="font-weight-bold float-lg-right  m-4">
    </div>
</nav>
@*<script>
  
</script>*@