@model Policy

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="invoice-wrap">
    <div class="page-header">
        <h4 class="text-center mb-30 weight-600">Delete</h4>
        <p>Are you sure you want to delete this?</p>

        <div class="row pb-30">
            <div class="col-md-6">
                <h5 class="mb-15">Name: <span class="font-weight-bold"> @Html.DisplayFor(model => model.Name)</span></h5>
                <p class="font-14 mb-5">Date: <strong class="weight-600">@DateTime.Now</strong></p>
                <p class="font-14 mb-5">Company <strong class="weight-600">@Html.DisplayFor(model => model.Company.Name)</strong></p>
            </div>

        </div>
        <div class="invoice-desc pb-30">
            <div class="invoice-desc-head clearfix">
                <div class="invoice-sub">Name</div>
                <div class="invoice-rate">Description</div>
                <div class="invoice-hours">Amount</div>
                <div class="invoice-hours">Emi</div>
            </div>
            <div class="invoice-desc-body">
                <ul>
                    <li class="clearfix">
                        <div class="invoice-sub">@Html.DisplayFor(model => model.Name)</div>
                        <div class="invoice-rate">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                        <div class="invoice-hours">
                            @Html.DisplayFor(model => model.Amount)
                        </div>
                        <div class="invoice-hours">
                            @Html.DisplayFor(model => model.Emi)
                        </div>
                    </li>
                </ul>
                <div class="m-2">
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
                    <a class="btn btn-success" asp-action="Index">Back to List</a>
                </div>
            </div>

        </div>
    </div>
</div>