@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box pb-10">
    <div class="h5 pd-20 mb-0 ml-1">Recent Patient</div>
    <p class="ml-4">All bootstrap element classies</p>

    <table class="data-table table nowrap">
        <thead>
            <tr>
                <th class="table-plus">Company</th>
                <th>Policies</th>
                <th>User</th>
                <th>Date</th>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Company
                    </td>
                    <td>
                        @item.Policies
                    </td>
                    <td>
                        @item.User
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>@item.Status</td>
                </tr>
            }

        </tbody>

    </table>

</div>